*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  align-items: center;
  background-color: hsl(210, 46%, 95%);
  display: grid;
  font-family: 'Barlow Semi Condensed', sans-serif;
  justify-items: center;
  min-height: 100vh;
  /* place-content: center; */
}

.testimonial-grid{
  display: grid;
  gap: 1.5rem;
  margin-block: 4rem;
  width: min(85%, 85rem);
}

/* this is for all the containers */
main .testimonial{
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsla(217, 19%, 35%, .25);
  border-radius: 1em;
  padding: 2rem;
  /* padding-left: 2.4rem; */
}

/* this is for each container */
main .daniel{
  background-color: hsl(263, 55%, 52%);
  background-image: url('images/bg-pattern-quotation.svg');
  background-position: 89% 0;
  background-repeat: no-repeat;
  background-size: 108px 120px;
}

.walters{
  background-color: hsl(217, 19%, 35%);
}

.harmon{
  background-color: hsla(0, 0%, 100%, .7);
}

.abrams{
  background-color: hsl(219, 29%, 14%);
}

.kira{
  background-color: hsl(0, 0%, 100%);
}


/* this is for the profile pic */
main .testimonial .flex{
  align-items: center;
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1rem;
}

main .testimonial .flex .profile-pic img{
  border: 4px solid hsl(0, 0%, 81%);
  border-radius: 50%;
  display: block;
  height: 2.75rem;
}


/* this is for the profile text */
main .testimonial .flex .profile-text{
  align-items: center;
  display: flex;
  flex-direction: column;
}

main .testimonial .flex .profile-text h2{
  color: hsla(0, 0%, 81%, 1);
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

main .testimonial .flex .profile-text p{
  color: hsla(0, 0%, 81%, .5);
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}


/* this is for the text in the container */
main .testimonial > p:first-of-type{
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  width: 100%;
}

main .testimonial > p:last-of-type{
  color: hsla(0, 0%, 81%, .5);
  font-size: .82rem;
  font-weight: 500;
  line-height: 1.5;
  width: 96.5%;
}

main .daniel > p:first-of-type{
  width: 98.5%;
}
main .daniel > p:last-of-type{
  width: 91%;
}


main .walters > p:last-of-type{
  color: hsla(0, 0%, 100%, .7);
}
main .harmon > p:last-of-type{
  color: hsla(0, 0%, 81%, .5);;
}
main .blue > p:last-of-type{
  color: hsla(217, 19%, 35%, .5);
}
main .blue > p:first-of-type{
  color: hsla(217, 19%, 35%, 1);
}



/* this layout is for tablet */
@media (min-width: 48rem) {
  main{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
  }
  .daniel{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .walters{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .harmon{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .abrams{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .kira{
    grid-column: 1/3;
    grid-row: 3/4;
  }
} 


/* this is for desktop layout */
@media (min-width: 90rem) {
  .testimonial-grid{
    /* display: grid; */
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
  }
  .daniel{
    grid-column: 1/3;
  }
  .walters{
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .harmon{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .abrams{
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .kira{
    grid-column: 4/5;
    grid-row: 1/3;
  }
} 
